
body {
    text-align: center;
}

table {
    text-align: center;
    border: solid 1px black;
}

td {
    width: 40px;
    height: 20px;
    border: solid 1px black;
}

div {
    margin-top: 30px;
}

a {
    cursor:pointer;
}
